<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>
<body>
    <form action="/action_page.php" autocomplete="on" method="post">
        <label for ="">tên đầy đủ</label><br>
        <input type="text" name="title" ><br>
        

        <label for ="">email</label><br>
        <input type="text" name ="email" > <br>
        
        <label for ="">tên đăng nhập</label><br>
        <input type="text" name ="id" autocomplete="off" ><br>

        <label for ="">mật khẩu</label><br>
        <input type="text" name ="pass" ><br>
        
        <button>submit</button>

    </form>
</body>
</html>